/*HEADER*/
header {
  background-color: green;
  height: 70px;
}
.header-top {
  height: 70px;
  background-color: blue;
}
.header-top > div {
  background-color: yellow;
  height: 100%
}
.header-top > nav {
  background-color: red;
  height: 100%;
}
.jumbotron {
  height: 300px;
  background-color: green;
}
/* /HEADER*/
/* MAIN */
.portfolio {
  height: 70px;
  background-color: grey;
}
.images > div:nth-child(odd) {
  height: 80px;
  background-color:red;
}
.images > div:nth-child(even) {
  height: 80px;
  background-color: blue;
}
