/*HEADER*/
header {
  background-color: green;
}
.header-top {
  height: 70px;
  background-color: blue;
}
.header-top > div {
  background-color: yellow;
  height: 100%
}
.header-top > nav {
  background-color: red;
  height: 100%;
}
.jumbotron {
  height: 300px;
  background-color: green;
}
/* /HEADER*/
/* MAIN */
/*portfolio*/
.portfolio {
  height: 70px;
  background-color: grey;
}
.images > div:nth-child(odd) {
  height: 150px;
  background-color:red;
}
.images > div:nth-child(even) {
  height: 150px;
  background-color: blue;
}
/*portfolio*/
/*about*/
.about {
  height: 300px;
  background-color:lightblue;
}
/* /about*/
/*contact*/
.contact {
  height:300px;
  background-color: grey;
}
/* /contact*/
/*FOOTER*/
.footer-menu {
  height: 300px;
  background-color: orange;
}
.footer-menu > div {
  height: 100%;
}
.footer-menu > div:first-child {
  background-color:black;
}
.footer-menu > div:last-child {
  background-color:brown;
}
.footer-menu > div:nth-child(2) {
  background-color: green;
}
.copy {
  height: 80px;
  background-color: darkblue;
}
