body {
  font-family: 'Lato', sans-serif;
  color: #fff;
}
.wrapper_small {
  max-width: 800px;
  margin: auto;
}
/*HEADER*/
header {
  background-color: green;
}
.relative {
  position:relative;
}
.header_top {
  height: 70px;
  line-height: 70px;
  background-color: blue;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
  background-color: #2c3e50;
  font-weight: 900;
}
.header_top a {
  color: #fff;
  text-decoration: none;
}
.header_top a:hover {
  color: lightblue;
}
.header_top li {
  list-style: none;
}
.start {
  font-size: 2.3rem;
}
.nav-pills li {
  padding: 0 20px;
}
.nav-pills a {
  font-size: 1.5rem;
}
/*jumbotron*/
.jumbo {
  background-color: #1ABC9C;
  margin-top: 70px;
  padding: 70px 0;
}
.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}
.jumbo_text img {
  width: 30%;
}
.glyphicon-star {
  display: inline-block;
  font-size: 40px;
  vertical-align: middle;
}
h1 {
  font-weight: 900;
}
.jumbo_text {
  font-size: 1.8rem;
}
.jumbo_text > span::before {
  content:'';
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #fff;
}
.jumbo_text > span::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #fff;
}
/* /HEADER*/
/* MAIN */
/*portfolio*/
.portfolio {
  height: 70px;
  background-color: grey;
}
.box_portfolio {
  height: 150px;
  background-color:red;
  margin-bottom:15px;
}
/*portfolio*/
/*about*/
.about {
  height: 300px;
  background-color:lightblue;
}
/* /about*/
/*contact*/
.contact {
  height:300px;
  background-color: grey;
}
/* /contact*/
/*FOOTER*/
.footer-menu {
  height: 300px;
  background-color: orange;
}
.footer-menu > div {
  height: 100%;
}
.footer-menu > div:first-child {
  background-color:black;
}
.footer-menu > div:last-child {
  background-color:brown;
}
.footer-menu > div:nth-child(2) {
  background-color: green;
}
.copy {
  height: 80px;
  background-color: darkblue;
}
